In [2]:
import numpy as np
import pandas as pd
import datetime as dtm

In [2]:
# LOAD DATA
df = pd.read_csv("SCOM08.csv", skipinitialspace=True)

# CLEANING DATA
# Reverse dataframe starting with earliest stock as first index
df = df.iloc[::-1]
# Drop reversed index and add default integer index
df = df.reset_index()
df = df.drop('index', axis=1)

# Convert date column to standard date format
for idx, row in df.iterrows():
    row.Date = dtm.datetime.strptime(row.Date, "%m/%d/%y")
    # row.Date = row.Date.strftime("%Y-%m-%d")
    df.at[idx,"Date"] = row.Date

df

                     Date   Open   High    Low  Close     Volume
0     2008-06-09 00:00:00   7.35   7.35   7.35   7.35  416383094
1     2008-06-10 00:00:00   6.95   6.95   6.95   6.95  127305797
2     2008-06-11 00:00:00   7.00   7.00   7.00   7.00  183494797
3     2008-06-12 00:00:00   7.35   7.35   7.35   7.35  131243703
4     2008-06-13 00:00:00   7.35   7.45   7.45   7.45  250901500
...                   ...    ...    ...    ...    ...        ...
3768  2023-07-03 00:00:00  17.60  18.00  17.60  17.75     467500
3769  2023-07-04 00:00:00  18.00  18.00  17.60  17.80   15905700
3770  2023-07-05 00:00:00  17.90  17.90  17.60  17.70    2346400
3771  2023-07-06 00:00:00  17.80  18.45  17.60  17.85   18260100
3772  2023-07-07 00:00:00  18.50  19.20  18.20  18.90    3157600

[3773 rows x 6 columns]

In [3]:
# Get start date and end date
start = df['Date'].iloc[0].strftime("%Y-%m-%d")
end = df['Date'].iloc[len(df) - 1].strftime("%Y-%m-%d")
print(start)
print(end)
print(type(end))

2008-06-09
2023-07-07
<class 'str'>

In [4]:
# Set Date as default index
df.set_index('Date', inplace=True)
df

             Open   High    Low  Close     Volume
Date
2008-06-09   7.35   7.35   7.35   7.35  416383094
2008-06-10   6.95   6.95   6.95   6.95  127305797
2008-06-11   7.00   7.00   7.00   7.00  183494797
2008-06-12   7.35   7.35   7.35   7.35  131243703
2008-06-13   7.35   7.45   7.45   7.45  250901500
...           ...    ...    ...    ...        ...
2023-07-03  17.60  18.00  17.60  17.75     467500
2023-07-04  18.00  18.00  17.60  17.80   15905700
2023-07-05  17.90  17.90  17.60  17.70    2346400
2023-07-06  17.80  18.45  17.60  17.85   18260100
2023-07-07  18.50  19.20  18.20  18.90    3157600

[3773 rows x 5 columns]

In [5]:
new_end_date = dtm.datetime.strptime("2019-12-18", "%Y-%m-%d")
new_end_date = new_end_date + dtm.timedelta(days=30)
# new_end_date = new_end_date.strftime("%Y-%m-%d")
new_end_date2 = new_end_date.strftime("%Y")
new_end_date2

'2020'

In [5]:
arr = ["Juma"]
arr2 = ["Jane", "John"]
arr += arr2
arr

['Juma', 'Jane', 'John']